{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> <!--acá las llaves me devuelve la ruta de los estaticos-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %} Run Inka Run {% endblock %}</title>
    <script src="https://use.fontawesome.com/ea6f90f2b7.js"></script>
</head>
<body class="contain-all">
    <div class="container">
        {% block navbar %}
        <!-- Navbar -->
          <div class="bs-docs-section clearfix">
            <div class="row">
              <div class="col-lg-12">
                <div class="page-header">
                  <h1 id="navbar" style="color:black">Run Inka Run</h1>
                </div>
                <div class="bs-component">
                        <nav class="navbar navbar-inverse">
                            <div class="container-fluid">
                                <div class="navbar-header"><a class="navbar-brand" href="{% url 'partida:partida_listar' %}">Home</a> </div>
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Partida<span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="{% url 'partida:partida_crear' %}">Crear nueva</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">API REST<span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="{% url 'partida:api' %}">Visualizar API</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown">
                                            <a href="https://github.com/waltersteven/runinkarun-config" target="_blank" onclick="pageTracker._link(this.href); return false;">GitHub<span class="fa fa-github" style="font-size: 20px !important; margin-left: 6px; margin-bottom: -3px;"></span></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Opciones<span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Salir</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
              </div>
            </div>
          </div>

        {% endblock %}

        {% block content %}
            <h4>Este es el contenido del header base</h4>
        {% endblock %}
        
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--Para añadir solo algunos archivos js a ciertas páginas-->
    {% block extrajs %}

    {% endblock %}

</body>
</html>