.contain-all{
    /* background-image: linear-gradient(to bottom right, rgb(242, 250, 236), rgb(213, 246, 253)); */
    background-color: #ffff;
    font-family: 'Lato',sans-serif;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.contains-form{ 
    color: black;
    font-family: "Open Sans", sans-serif;
}

.contains-delete{
    color: black;
    font-family: "Open Sans", sans-serif;  
}

.box{
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-inverse {
    background-color: #2C3E50 !important;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #18BC9C !important;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #ebebeb;
}

.dropdown-menu {
    background-color: #2C3E50 !important;
    top: 120%;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #18BC9C !important;
    background-color: transparent;
}

.dropdown-menu > li > a{
    color: #fff !important;
}

.btn-primary {
    color: #fff;
    background-color: #18BC9C;
    border-color: #18BC9C;
    margin-right: 10px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #149a80;
    border-color: #128f76;
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
}

.btn{
    border-radius: 0.7rem;
}

.container-fluid {    
    margin-top: 8px;
}

.navbar{
    min-height: 60px !important;
    font-size: 15px;
}

.table{
    table-layout: fixed;
    word-wrap: break-word;
    color: black;
    font-family: "Open Sans", sans-serif;
    margin-top: 50px;
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
}

.table-bordered {
    border: 0px;
}

.table-bordered > tbody > tr > td{
    border: 0px;
}

.table > tbody > tr > td{
    border-top: 1px solid #ddd;
}
.table > tbody > tr > td{
    vertical-align: middle;
}

.table > tbody > tr:hover{
    background-color: #f5f5f5;
}
.table > thead > tr > th {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px !important;
    text-align: inherit !important;
    text-align: left;
    line-height: normal;
}

th, td{
    text-align: center;
}

.table-bordered>thead>tr>th {
    border: 0px;
}
