{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}
    Score
{% endblock %}

{% block content %}
<div class="container">
    <h1 style="color: black; font-weight: 600;">Ranking de Jugadores</h1>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-3 box" style="text-align:center; margin-left: 250px; height: 400px; background-image:url('{% static "images/background.jpg" %}');"><div style="margin-top: 10px;">Score de participantes</div></div>
        <div class="col-md-4 box" style="background: #fff; height: 400px; color: #525c65;">
            <div style="text-align:center; margin-top: 10px;">Ranking de jugadores</div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td style="width:30%">Nombre</td>
                            <td style="width:30%">Puntuación</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% if object_list %}
                        <!--Verificar si hay registros en el contexto-->
                        {% for score in object_list %}
                        <tr>
                            <td>{{ score.id }}</td>
                            <td>{{ score.playerName }}</td>
                            <td>{{ score.acumScore }}</td>                        
                            <td><span class="fa fa-trophy"></span></td>
                        </tr>
                        {% endfor %} 
                        {% else %}
                        <h1>No hay registros de jugadores</h1>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}