{% extends 'base/base.html' %} 

{% block content %}

<div class="container">
    <h1 style="color: black; font-weight: 600;">Lista de partidas</h1>
    <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:4%">#</th>
                    <th style="width:9%">Escenario</th>
                    <th style="width:10%">Personaje</th>
                    <th style="width:9%">Modo de juego</th>
                    <th style="width:12%">Dificultad</th>
                    <th style="width:12%">Imagen de background</th>
                    <th style="width:8%">Velocidad de jugador</th>
                    <th style="width:8%">Cant. vidas</th>
                    <!--<th style="width:7%">Tiempo de partida</th>-->
                    <th style="width:7%">Música</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                <!--Verificar si hay registros en el contexto-->
                {% for partida in object_list %}
                <tr>
                    <td>{{ partida.id }}</td>
                    <td>{{ partida.escenario }}</td>
                    <td>{{ partida.personaje }}</td>
                    <td>{{ partida.modo_juego }}</td>
                    <td>{{ partida.dificultad }}</td>
                    <td>{{ partida.intro_background }}</td>
                    <td>{{ partida.speed_player }}</td>
                    <td>{{ partida.life }}</td>
                    <!--<td>{{ partida.game_time }}</td>-->
                    <td>{{ partida.musica }}</td>        
                    <td>
                        <a class="btn btn-primary" href="{% url 'partida:partida_editar' partida.id %}">Editar</a>
                        <!--redirige a name=mascota_editar, envia como parametro mascota.id-->
                        <a class="btn btn-danger" href="{% url 'partida:partida_eliminar' partida.id %}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %} {% else %}
                <h1>No hay registros de partidas</h1>
                {% endif %}
            </tbody>
        </table>

    <ul class="pager">
        <li>
            {% if page_obj.has_previous %}
            <!--logica para preguntar si tiene pagina previa-->
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
        </li>
        <li>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </li>
    </ul>
</div>
{% endblock %}